body {
	font-family: sans-serif;
}

.pricing_table_wdg {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: none;
}

.pricing_table_wdg ul {
	list-style: none;
	float: left;
	width: 147px;
	margin: 5px;
	border: 3px solid #f2f3f3;
	padding: 3px;
	text-align: center;
	background-color: #FFF;
}

.pricing_table_wdg ul:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-box-shadow: 3px 5px 7px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 3px 5px 7px rgba(0, 0, 0, .7);
	box-shadow: 3px 5px 7px rgba(0, 0, 0, .7);
	cursor: pointer;
	background: #d8e9f9;
}

.pricing_table_wdg ul li {
	padding: 10px 10px;
}

.pricing_table_wdg ul li:first-child {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	background: #2e818f;
}

.pricing_table_wdg ul li:nth-child(2) {
	background: #fbfbfb;
	border-bottom: 1px dashed #cfd2d2;
}

.pricing_table_wdg ul li:nth-child(3) {
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px dashed #cfd2d2;
}

.pricing_table_wdg ul li:nth-child(4) {
	font-size: 14px;
	border-bottom: 1px dashed #cfd2d2;
}

.pricing_table_wdg ul li button {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	border: none;
	background: #0061bb;
	padding: 5px 20px;
}

.pricing_table_wdg ul li:last-child a {
	color: #F0F0F0;
	text-decoration: none;
	font-weight: bold;
	display: block;
	border-radius: 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 0px;
	padding: 5px;
	margin: 3px 3px;
	background: #0061bb; Old browsers;
/* //	background: -moz-linear-gradient(top, #0061bb 0%, #164e82 100%); */
	/* FF3.6+ */
/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0061bb), */
/* 		color-stop(100%, #164e82)); Chrome,Safari4+; */
/* 	background: -webkit-linear-gradient(top, #0061bb 0%, #164e82 100%); */
/* 	/* Chrome10+,Safari5.1+ */ */
/* 	background: -o-linear-gradient(top, #0061bb 0%, #164e82 100%); */
/* 	/* Opera11.10+ */ */
/* 	background: -ms-linear-gradient(top, #0061bb 0%, #164e82 100%); */
/* 	/* IE10+ */ */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0061bb', */
/* 		endColorstr='#164e82', GradientType=0); IE6-9; */
/* 	background: linear-gradient(top, #0061bb 0%, #164e82 100%); W3C */
}