@import
	url("https://fonts.googleapis.com/css?family=Open+Sans:600, 300");

*, *::after, *::before {
	outline: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e3e3e3;
/* 	background-color: lightgray; */
	font-family: 'Open sans', sans-serif;
}

.rule {
	margin: 0 50px 0 0;
}

.rule .rule__content {
	display: flex;
}

.rule__color {
	width: 50px;
	height: 50px;
	margin: 0 20px 20px 0;
}

.rule .color-1 {
	background-color: #16a085;
}

.rule .color-2 {
	background-color: #2980b9;
}

.rule .color-3 {
	background-color: #34495e;
}

.rule .color-4 {
	background-color: #f39c12;
}

.rule .color-5 {
	background-color: #d35400;
}

.rule .color-6 {
	background-color: #c0392b;
}

.wheel {
	width: 312px;
	height: 312px;
	border-radius: 50%;
	border: solid 6px #fff;
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
	position: relative;
}

.wheel .wheel__inner {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: cubic-bezier(0.19, 1, 0.22, 1) 5s;
}

.wheel .wheel__sec {
	position: absolute;
	top: 0;
	left: 62px;
	width: 0;
	height: 0;
	border: solid;
	border-width: 150px 88px 0;
	border-color: transparent;
	transform-origin: 50% 100%;
}

.wheel .wheel__sec:nth-child(1) {
	border-top-color: #16a085;
}

.wheel .wheel__sec:nth-child(2) {
	border-top-color: #2980b9;
	transform: rotate(60deg);
}

.wheel .wheel__sec:nth-child(3) {
	border-top-color: #34495e;
	transform: rotate(120deg)
}

.wheel .wheel__sec:nth-child(4) {
	border-top-color: #f39c12;
	transform: rotate(180deg)
}

.wheel .wheel__sec:nth-child(5) {
	border-top-color: #d35400;
	transform: rotate(240deg)
}

.wheel .wheel__sec:nth-child(6) {
	border-top-color: #c0392b;
	transform: rotate(300deg)
}

.wheel .wheel__sec:nth-child(1) .wheel__note {
	font-size: 150%;
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 35px;
	padding: 10px;
}

.wheel .wheel__sec:nth-child(2) .wheel__note {
	font-size: 150%;
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 35px;
	padding: 10px;
}

.wheel .wheel__sec:nth-child(2) .wheel__note {
	font-size: 150%;
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 35px;
	padding: 10px;
}

.wheel .wheel__sec:nth-child(3) .wheel__note {
	font-size: 150%;
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 35px;
	padding: 10px;
}

.wheel .wheel__sec:nth-child(4) .wheel__note {
	font-size: 150%;
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 35px;
	padding: 10px;
}

.wheel .wheel__sec:nth-child(5) .wheel__note {
	font-size: 150%;
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 35px;
	padding: 10px;
}

.wheel .wheel__sec:nth-child(6) .wheel__note {
	font-size: 150%;
	position: absolute;
	bottom: 90px;
	right: 0px;
	width: 35px;
	padding: 10px;
}

.wheel .wheel__text {
	margin: 70px 0 0 70px;
}

.wheel .wheel__arrow {
	width: 70px;
	height: 70px;
	background: #fff;
	position: absolute;
	top: 121px;
	left: 115px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open sans', sans-serif;
}

.wheel .wheel__arrow::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: solid;
	border-width: 0 10px 20px;
	border-color: transparent;
	border-bottom-color: #fff;
	top: -15px;
	left: 25px;
}

.wheel .wheel__button {
	width: 60px;
	height: 60px;
	background-color: lightgray;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
	font-weight: 600;
	font-size: 18px;
}

.wheel .wheel__button:hover {
	color: #27AE60;
}

.wheel .wheel__button:active {
	border: solid 3px rgba(0, 0, 0, 0.1);
	font-size: 15px;
}

.popup {
	position: fixed;
	width: 30vw;
	top: 0;
	left: 50%;
	transform: translate(-50%, -110%);
	background: #fff;
	box-shadow: 0 4px 9px 0 rgba($ color : #000000, $ alpha : 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 20px;
	transition: all 0.5s;
	opacity: 0;
}

.popup.active {
	transform: translate(-50%, 0);
	opacity: 1;
}

.popup__emotion {
	color: #f39c12;
	text-align: center;
	font-size: 30px;
	margin: 0 0 25px 0;
}

.popup__note {
	text-align: center;
}

.congratulation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba($ color : #000000, $ alpha : 0.2);
	display: none;
}

.congratulation__container {
	width: 40vw;
	padding: 20px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.congratulation__close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #c0392b;
	cursor: pointer;
	transition: all 0.5s;
}

.congratulation__close:hover {
	transform: rotate(360deg);
}

.congratulation__emotion {
	color: #f39c12;
	text-align: center;
	margin: 0 0 20px 0;
}

.congratulation__note {
	text-align: center;
}

.congratulation__button {
	background-color: #f39c12;
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none; 
	cursor : pointer;
	transition: 0.3s;
	font-weight: 600;
	font-size: 18px;
	margin: 10px 10px 0 220px;
	text-align: center;
	cursor: pointer;
}

.congratulation__button:hover {
	background-color: #27AE60;
}
.notification {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba($ color : #000000, $ alpha : 0.2);
}
.notification__close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #0000a0;
	cursor: pointer;
	transition: all 0.5s;
}
.notification__close:hover {
	transform: rotate(360deg);
}